# See https://atom.io/docs/latest/creating-a-package#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Stacktrace'
      'submenu': [
        { 'label': 'Enter', 'command': 'stacktrace:enter' }
      ]
    ]
  }
]
